<app-merch-nav></app-merch-nav>
<div class="container">
  <div class="columns">
    <div class="column is-2 ">
      <app-merch-side-bar></app-merch-side-bar>
    </div>
    <div class="column is-10">
      <section class="hero is-info welcome is-small">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">
              Hola, MerchandiserName.
            </h1>
            <h2 class="subtitle">
              Éstas son tus Ventas!
            </h2>
          </div>
        </div>
      </section>
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Fecha</th>
            <th>ID Cliente</th>
            <th>Productos</th>
            <th>Cantidad</th>
            <th>Localidad</th>
            <th>Precio</th>
            <th>Entregado?</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>5426</th>
            <td>22/04/22</td>
            <td>4528</td>
            <td>Puré de tomate Marolio x20U - Arroz Gallo x10U</td>
            <td>30U</td>
            <td>Quilmes</td>
            <td>$3500</td>
            <td>Si</td>
          </tr>
          <tr>
            <th>5520</th>
            <td>23/04/22</td>
            <td>0035</td>
            <td>Arroz Gallo x40U - Yerba Mate Playadito x40U</td>
            <td>80U</td>
            <td>Tandil</td>
            <td>$7250</td>
            <td>No</td>
          </tr>
          <tr>
            <th>5856</th>
            <td>24/04/22</td>
            <td>1557</td>
            <td>Puré de tomate Marolio x120U - Yerba Mate Playadito x80U</td>
            <td>200U</td>
            <td>Morón</td>
            <td>$14575</td>
            <td>Si</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
<script async type="text/javascript" src="../../../assets/js/dashboard.js"></script>

