<footer class="section">
  <div class="container">
    <div class="columns is-multiline" style="border-bottom: 1px solid #dee2e6;">
      <div class="column is-3 mb-5">
        <h2 class="is-size-1 has-text-weight-bold mb-1">Contáctanos</h2>
        <h3 class="is-size-4 has-text-weight-bold mb-4">¿Necesitas ayuda?</h3>
        <p class="has-text-grey-dark mb-6">Visita nuestro servicio de atención al cliente para obtener ayuda o llámenos al:.</p>
        <h3 class="is-size-3 has-text-weight-bold mb-3">999-999-9999</h3>
        <div>
          <a class="mr-3 is-inline-block" href="#">
            <img class="mx-auto image is-fullwidth" src="https://static.wixstatic.com/media/23fd2a2be53141ed810f4d3dcdcd01fa.png/v1/fill/w_22,h_22,al_c,usm_0.66_1.00_0.01,enc_auto/23fd2a2be53141ed810f4d3dcdcd01fa.png">
          </a>
          <a class="mr-3 is-inline-block" href="#">
            <img class="mx-auto image is-fullwidth" src="https://static.wixstatic.com/media/81af6121f84c41a5b4391d7d37fce12a.png/v1/fill/w_22,h_22,al_c,usm_0.66_1.00_0.01,enc_auto/81af6121f84c41a5b4391d7d37fce12a.png">
          </a>
          <a class="mr-3 is-inline-block" href="#">
            <img class="mx-auto image is-fullwidth" src="https://static.wixstatic.com/media/01ab6619093f45388d66736ec22e5885.png/v1/fill/w_22,h_22,al_c,usm_0.66_1.00_0.01,enc_auto/01ab6619093f45388d66736ec22e5885.png">
          </a>
          <a class="mr-3 is-inline-block" href="#">
            <img class="mx-auto image is-fullwidth" src="https://static.wixstatic.com/media/203dcdc2ac8b48de89313f90d2a4cda1.png/v1/fill/w_22,h_22,al_c,usm_0.66_1.00_0.01,enc_auto/203dcdc2ac8b48de89313f90d2a4cda1.png">
          </a>
          </div>
      </div>
      <div class="column is-9">
        <div class="columns is-multiline">
          <div class="column is-6 is-3-desktop mb-5">
            <h4 class="is-size-4 has-text-weight-bold mb-4">Menú</h4>
            <ul>
              <li class="mb-2"><a class="button is-white" href="#">Nuestras Marcas</a></li>
              <li class="mb-2"><a class="button is-white" href="#">Sumemos Productos</a></li>
              <li class="mb-2"><a class="button is-white" href="#">Más Popular</a></li>
            </ul>
          </div>
          <div class="column is-6 is-3-desktop mb-5">
            <h4 class="is-size-4 has-text-weight-bold mb-4">Categorías</h4>
            <ul>
              <li class="mb-2"><a class="button is-white" href="#">Vegetales</a></li>
              <li class="mb-2"><a class="button is-white" href="#">Panadería</a></li>
              <li class="mb-2"><a class="button is-white" href="#">Vinos</a></li>
              <li class="mb-2"><a class="button is-white" href="#">Cereales</a></li>
            </ul>
          </div>
          <div class="column is-6 is-3-desktop mb-5">
            <h4 class="is-size-4 has-text-weight-bold mb-4">Información</h4>
            <ul>
              <li class="mb-2"><a class="button is-white" href="#">Sobre Nosotros</a></li>
              <li class="mb-2"><a class="button is-white" href="#">Atención al cliente</a></li>
              <li class="mb-2"><a class="button is-white" href="#">Team</a></li>
              <li><a class="button is-white" href="#">Privacy</a></li>
            </ul>
          </div>
          <div class="column is-6 is-3-desktop mb-5">
            <h4 class="is-size-4 has-text-weight-bold mb-4">Mis compras</h4>
            <ul>
              <li class="mb-2"><a class="button is-white" href="#">Favoritos</a></li>
              <li class="mb-2"><a class="button is-white" href="#">Mis ordenes</a></li>
              <li class="mb-2"><a class="button is-white" href="#">Product</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="pt-5 has-text-centered">
      <p>
        <strong>Copyright © 2022 - El Changuito Libre</strong> by <a href="https://github.com">New Country Team</a>
      </p>
    </div>
  </div>
</footer>




