<app-admin-nav></app-admin-nav>
<div class="container">
  <div class="columns">
    <div class="column is-2 ">
      <app-admin-side-bar></app-admin-side-bar>
    </div>
    <div class="column is-10">
      <section class="hero is-info welcome is-small">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">
              Hola, AdminName.
            </h1>
            <h2 class="subtitle">
              Estos son los reportes!
            </h2>
          </div>
        </div>
      </section>

      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Fecha</th>
            <th>ID Comerciante</th>
            <th>Descripcion</th>
            <th>Comerciante</th>
            <th>Localidad</th>
            <th>Solucionado?</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>5426</th>
            <td>28/04/22</td>
            <td>9834</td>
            <td>Hola, queria reportar que mis clientes compran a precio mayorista pero cuando les llega el comprobante
                de compra, este dice que han comprado a precio minorista. Y la idea de esto es que ellos puedan ahorrar.
                Saludos! </td>
            <td>LolaJeans</td>
            <td>Quilmes</td>
            <td>No</td>
          </tr>
          <tr>

          <tr>
            <th>1126</th>
            <td>5/04/22</td>
            <td>1516</td>
            <td>Hola, quería reportar que el carrito de compras no está funcionando
                como debería.
            </td>
            <td>ElectroHogar</td>
            <td>Munro</td>
            <td>Si</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
<script async type="text/javascript" src="../../../../assets/js/dashboard.js"></script>
<script type="text/javascript" src="../../../../assets/js/modal.js"></script>
