<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="#">
        <img src="../../../assets/img/1479847010.svg">
        El Changuito Libre

      </a>


      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">

        <a class="navbar-item">
          Inicio
        </a>

        <a class="navbar-item">
          Documentation
        </a>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" style="background-color: #de0200;">
            Nosotros
          </a>

          <div class="navbar-dropdown">
            <a class="navbar-item">
              Sobre Nosotros
            </a>
            <a class="navbar-item">
              Empleos
            </a>
            <a class="navbar-item">
              Contacto
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item">
              Reportar un problema
            </a>
          </div>
        </div>
      </div>

      <div class="panel-block">
        <p class="control has-icons-left">
          <input class="input" type="text" placeholder="Buscar">
          <span class="icon is-left">
            <i class="fas fa-search"></i>
          </span>
        </p>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <button class="button is-danger is-outlined" style="color: antiquewhite;">Iniciar Sesión</button>
            <button class="button is-danger is-outlined" style="color: aliceblue;">Registrarse</button >
            
          
        </div>
      </div>
    </div>
  </nav>
