<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="changuito">
      <img src="../../../assets/img/1479847010.svg">
      El Changuito Libre
    </a>


    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="true" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">

      <a class="navbar-item" href="">
        Inicio
      </a>

      <a class="navbar-item" href="productos">
        Productos
      </a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" style="background-color: #de0200;">
          Nosotros
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" href="us">
            Sobre Nosotros
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item" href="report-us">
            Reportar un problema
          </a>
        </div>
      </div>
    </div>

    <div class="panel-block">
      <p class="control has-icons-left">
        <input class="input" type="text" placeholder="Buscar">
        <span class="icon is-left">
          <i class="fas fa-search"></i>
        </span>
      </p>
    </div>

    <div *ngIf="!isLoggedIn">
      <div class="navbar-end">
        <div class="navbar-item">
          <a href="login"><button class="button is-danger is-outlined" style="color: antiquewhite;">Iniciar
              Sesión</button></a>
          <a href="registrarse"><button class="button is-danger is-outlined"
              style="color: aliceblue;">Registrarse</button></a>
        </div>
      </div>
    </div>
    <div *ngIf="isLoggedIn">
      <div class="navbar-end">
        <div class="navbar-item">
          <p>Bienvenido!{{username}}</p>
          <a href="mi-perfil"><button class="button is-danger is-outlined" style="color: antiquewhite;">Mi perfil</button></a>
          <button class="button is-danger is-outlined"
              style="color: aliceblue;" (click)="logout()">Salir</button>
        </div>
      </div>
    </div>
    <div *ngIf="isMerch">
      <div class="navbar-end">
        <div class="navbar-item">
          <p>Bienvenido!{{username}}</p>
          <a href="merchandiser-dashboard" routerLink><button class="button is-danger is-outlined" style="color: antiquewhite;" >Dashboard</button></a>
          <button class="button is-danger is-outlined"
              style="color: aliceblue;" (click)="logout()">Salir</button>
        </div>
      </div>
    </div>
    <div *ngIf="isAdmin">
      <div class="navbar-end">
        <div class="navbar-item">
          <p>Bienvenido!{{this.username}}</p>
          <a href="admin"><button class="button is-danger is-outlined" style="color: antiquewhite;">Dashboard</button></a>
          <button class="button is-danger is-outlined"
              style="color: aliceblue;" (click)="logout()">Salir</button>
        </div>
      </div>
    </div>
  </div>
</nav>
