<app-admin-nav></app-admin-nav>
<div class="container">
    <div class="columns">
      <div class="column is-2 ">
<app-admin-side-bar></app-admin-side-bar>
      </div>
      <div class="column is-10">
        <section class="hero is-info welcome is-small">
          <div class="hero-body">
            <div class="container">
              <h1 class="title">
                Hola, Admin.
              </h1>
              <h2 class="subtitle">
                Tu Perfil!
              </h2>
            </div>
          </div>
        </section>
        <div class="columns">

            <div class="column is-full has-text-centered">
              <h1 class="title has-background-warning m-4 p-4">
                Nombre: El Changuito Libre
              </h1>
              <h1 class="title has-background-success m-4 p-4">
                Descripcion: Somos una empresa que ofrece un servicio de Ecommerce decicado al
                rubro Mayorista y Minorista
              </h1>
              <h1 class="title has-background-warning m-4 p-4">
                Localidad: Quilmes, Av Libertador 1552
              </h1>
              <h1 class="title has-background-success m-4 p-4">
                Nombre de Usuario: changuito_libre2022
              </h1>
              <h1 class="title has-background-warning m-4 p-4">
                Contraseña: *******
              </h1>
              <h1 class="title has-background-success m-4 p-4">
                Email: admin@changuito.com
              </h1>
              <h1 class="title has-background-warning m-4 p-4">
                Cuit: 25-22356441-5
              </h1>
            </div>
          </div>
          <div class="has-text-centered">
            <a href="admin-perfil-editar" class="button title is-primary " role="button">Editar <i class="fas fa-pen"></i></a>
          </div>
        </div>
      </div>
    </div>
    <script async type="text/javascript" src="../../../assets/js/dashboard.js"></script>
