<aside class="menu is-hidden-mobile">
    <br/>
    <br/>
    <p class="menu-label">
      General
    </p>
    <ul class="menu-list">
      <li><a href="admin-merch-list">Comerciantes asociados</a></li>

      <li><a href="admin-reportes">Reportes</a></li>


      <li><a href="admin-payments" > Métodos de pago</a></li>

      <li><a href="admin-usuarios"> Usuarios Registrados</a></li>

      <li><a href="admin-usuarios-modificar"> Modificar Usuarios Registrados</a></li>

      <li><a href="/admin-perfil">Tu Perfil</a></li>
    </ul>

  </aside>
