<app-navbar></app-navbar>

<div class="container pt-5">
  <br>
  <h1 class="text-center">Nosotros!</h1>
  <br>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="../../../assets/img/pro3.jpg" class="card-img-top" style="max-width: fit-content;max-height: fit-content;">
        <div class="card-body">
          <h2 class="card-title">Alan Farias</h2> <h4>FullStack</h4>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Debitis aspernatur quam ea a corrupti natus unde error minus? Voluptates
            voluptate quo esse odit quaerat itaque ut eaque aut magni vero?</p>
          <div class="card-footer pt-4 is-flex is-align-items-center is-justify-content-space-between">
              <a href="#"> <button class="btn btn-primary">LinkedIn <i class="fa fa-linkedin-square"
                    aria-hidden="true"></i></button> </a>
              <a href="#">
                <button class="btn btn-dark">Github <i class="fa fa-github" aria-hidden="true"></i></button>
              </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="../../../assets/img/pro2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h2 class="card-title">Celso Zabala</h2> <h4>Backend</h4>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Debitis aspernatur quam ea a corrupti natus unde error minus? Voluptates
            voluptate quo esse odit quaerat itaque ut eaque aut magni vero?</p>
            <div class="card-footer pt-4 is-flex is-align-items-center is-justify-content-space-between">
              <a href="#"> <button class="btn btn-primary">LinkedIn <i class="fa fa-linkedin-square"
                    aria-hidden="true"></i></button> </a>
              <a href="#">
                <button class="btn btn-dark">Github <i class="fa fa-github" aria-hidden="true"></i></button>
              </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="../../../assets/img/pro1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h2 class="card-title">Daniela Palma</h2> <h4>FullStack</h4>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Debitis aspernatur quam ea a corrupti natus unde error minus? Voluptates
            voluptate quo esse odit quaerat itaque ut eaque aut magni vero?</p>
            <div class="card-footer pt-4 is-flex is-align-items-center is-justify-content-space-between">
              <a href="#"> <button class="btn btn-primary">LinkedIn <i class="fa fa-linkedin-square"
                    aria-hidden="true"></i></button> </a>
              <a href="#">
                <button class="btn btn-dark">Github <i class="fa fa-github" aria-hidden="true"></i></button>
              </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="../../../assets/img/pro3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h2 class="card-title">Génesis Gavidia</h2> <h4>Q/A Tester</h4>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Debitis aspernatur quam ea a corrupti natus unde error minus? Voluptates
            voluptate quo esse odit quaerat itaque ut eaque aut magni vero?</p>
            <div class="card-footer pt-4 is-flex is-align-items-center is-justify-content-space-between">
              <a href="#"> <button class="btn btn-primary">LinkedIn <i class="fa fa-linkedin-square"
                    aria-hidden="true"></i></button> </a>
              <a href="#">
                <button class="btn btn-dark">Github <i class="fa fa-github" aria-hidden="true"></i></button>
              </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="../../../assets/img/pro1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h2 class="card-title">Ingrid Inga</h2><h4>FullStack</h4>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Debitis aspernatur quam ea a corrupti natus unde error minus? Voluptates
            voluptate quo esse odit quaerat itaque ut eaque aut magni vero?</p>
            <div class="card-footer pt-4 is-flex is-align-items-center is-justify-content-space-between">
              <a href="#"> <button class="btn btn-primary">LinkedIn <i class="fa fa-linkedin-square"
                    aria-hidden="true"></i></button> </a>
              <a href="#">
                <button class="btn btn-dark">Github <i class="fa fa-github" aria-hidden="true"></i></button>
              </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="../../../assets/img/pro2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h2 class="card-title">Laura Lopez</h2><h4>Q/A Tester</h4>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Debitis aspernatur quam ea a corrupti natus unde error minus? Voluptates
            voluptate quo esse odit quaerat itaque ut eaque aut magni vero?</p>
            <div class="card-footer pt-4 is-flex is-align-items-center is-justify-content-space-between">
              <a href="#"> <button class="btn btn-primary">LinkedIn <i class="fa fa-linkedin-square"
                    aria-hidden="true"></i></button> </a>
              <a href="#">
                <button class="btn btn-dark">Github <i class="fa fa-github" aria-hidden="true"></i></button>
              </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="../../../assets/img/pro1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h2 class="card-title">Marlon Infante</h2><h4>Backend</h4>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Debitis aspernatur quam ea a corrupti natus unde error minus? Voluptates
            voluptate quo esse odit quaerat itaque ut eaque aut magni vero?</p>
            <div class="card-footer pt-4 is-flex is-align-items-center is-justify-content-space-between">
              <a href="#"> <button class="btn btn-primary">LinkedIn <i class="fa fa-linkedin-square"
                    aria-hidden="true"></i></button> </a>
              <a href="#">
                <button class="btn btn-dark">Github <i class="fa fa-github" aria-hidden="true"></i></button>
              </a>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
<br />
<br />
<app-footer></app-footer>
