<section class="hero is-info is-medium is-bold">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-1 is-light is-semibold is-spaced main-title">¡Bienvenidos!</h1>
            <h2 class="subtitle is-5 is-light is-thin">Agradecemos que seas parte de nuestra comunidad. <br>
                El Changuito Libre, nació de nuestra pasión por la tecnología <br> y nuestro fuerte compromiso de ayudar
                a las personas para <br> que puedan acceder libremente a la mejor opción de compra en el mercado. <br>
                Somos un nexo entre mayoristas y clientes.</h2>
            <div class="has-text-centered">
                <a class="button k-button k-secondary raised has-gradient is-fat is-bold rounded">
                    <span class="text">¡Regístrate Ahora!</span>
                    <span class="front-gradient"></span>
                </a>
            </div>
        </div>
    </div>
</section>
