<app-admin-nav></app-admin-nav>
<div class="container">
    <div class="columns">
      <div class="column is-2 ">
<app-admin-side-bar></app-admin-side-bar>
      </div>
      <div class="column is-10">
        <section class="hero is-info welcome is-small">
          <div class="hero-body">
            <div class="container">
              <h1 class="title">
                Hola, AdminName.
              </h1>
            </div>
          </div>
        </section>

        <h1 class="title is-1 has-text-centered	">Modificar Perfil</h1>
        <div class="field">
          <label class="label">Nombre</label>
          <div class="control">
            <input class="input" type="text" placeholder="Introduce tu Nombre">
          </div>
          <label class="label">Descripción</label>
          <div class="control">
            <textarea class="textarea" placeholder="Introduce tu Descripción"></textarea>
          </div>
          <label class="label">Localidad</label>
          <div class="control">
            <input class="input" type="text" placeholder="Introduce tu Localidad">
          </div>
          <label class="label">Nombre de Usuario</label>
          <div class="control">
            <input class="input" type="text" placeholder="Introduce tu Nombre de Usuario">
          </div>
          <label class="label">Contraseña</label>
          <div class="control">
            <input class="input" type="password" placeholder="Introduce tu contraseña">
          </div>
          <label class="label">Cuil</label>
          <div class="control">
            <input class="input" type="text" placeholder="Introduce tu cuil">
          </div>
        </div>
        <div class="field">
          <label class="label">Imagen</label>
          <div class="control">
            <input class="imagen" type="file" placeholder="Introduce la Imagen">
          </div>
        </div>

        <div class="field is-grouped">
          <div class="control">
            <button class="button is-link">Guardar</button>
          </div>
          <div class="control">
            <button class="button is-link is-light">Cancelar</button>
          </div>
        </div>
        <br/>
      </div>
    </div>
  </div>
  <script async type="text/javascript" src="../../../assets/js/dashboard.js"></script>

