<app-merch-nav></app-merch-nav>
<div class="container">
  <div class="columns">
    <div class="column is-2 ">
      <app-merch-side-bar></app-merch-side-bar>
    </div>
    <div class="column is-10">
      <section class="hero is-info welcome is-small">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">
              Hola, MerchandiserName.
            </h1>
          </div>
        </div>
      </section>

      <h1 class="title is-1 has-text-centered	">Nuevo Producto</h1>
      <div class="field">
        <label class="label">Marca</label>
        <div class="control">
          <input class="input" type="text" placeholder="Introduce la Marca">
        </div>
        <label class="label">Nombre</label>
        <div class="control">
          <input class="input" type="text" placeholder="Introduce el Nombre">
        </div>
        <label class="label">Descripción</label>
        <div class="control">
          <textarea class="textarea" placeholder="Introduce la Descripción del producto"></textarea>
        </div>
      </div>

      <div class="field">
        <label class="label">Categoria</label>
        <div class="control">
          <div class="select">
            <select>
              <option>Selecciona una Categoria</option>
              <option>Salsas y Condimentos</option>
              <option>Arroz y Legumbres</option>
              <option>Infusiones</option>
            </select>
          </div>
        </div>
      </div>

      <div class="field">
        <label class="label">Imagen</label>
        <div class="control">
          <input class="imagen" type="file" placeholder="Introduce la Imagen">
        </div>
      </div>

      <div class="field">
        <label class="label">Stock disponible</label>
        <div class="control">
          <input class="input" type="text" placeholder="Introduce el número de stock disponible">
        </div>
      </div>

      <div class="field">
        <label class="label">Precio</label>
        <div class="control">
          <input class="input" type="number" placeholder="Introduce el precio">
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-link">Crear</button>
        </div>
        <div class="control">
          <button class="button is-link is-light">Cancelar</button>
        </div>
      </div>
      <br/>
    </div>
  </div>
</div>
<script async type="text/javascript" src="../../../assets/js/dashboard.js"></script>
