<app-navbar></app-navbar>
<app-hero></app-hero>
<app-products></app-products>
<app-cart></app-cart>
<app-merchandiser-dashboard></app-merchandiser-dashboard>
<app-admin-dashboard></app-admin-dashboard>
<app-registration-users></app-registration-users>
<app-team></app-team>
<app-footer></app-footer>

<!--<app-navbar></app-navbar>
<app-hero></app-hero>
<app-loguin></app-loguin>
<app-products-carousel></app-products-carousel>
<app-cart></app-cart>
<app-merchandiser-dashboard></app-merchandiser-dashboard>
<app-admin-dashboard></app-admin-dashboard>
<app-registration-users></app-registration-users>
<app-team></app-team>
<app-footer></app-footer>
<app-landing-page></app-landing-page>
<router-outlet></router-outlet>s -->
