.is-primary2{
    background-color:#de0200;
    border-color: transparent;
    color: #fff;
}

.is-danger2{
    background-color:#de0200;
    color: #fff;
}

.is-info2{
    background-color:black;
    color: #fff;
}
