
<div class="basic-4 bg-light"><br/>
<br/>
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="text-container">
          <h1><strong><em>"El Changuito Libre"</em></strong></h1>
          <p style="font-size:x-large;"><em>Este proyecto surge por unir la pasión que sentimos por la tecnología y la necesidad
            que vemos a diario por tratar de llegar a fin de mes con lo que tenemos.</em></p>
            <p style="font-size: x-large;"><em>Somos un grupo de Desarrolladores/as de software que buscamos incursionar en el
              mundo IT, es por eso que decidimos formar parte de No Country, para así poder estar un paso mas cerca
              de nuestro sueño, conseguir trabajo(?
            </em></p>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="image-container">
          <img src="../../../assets/img/carrito-super.jpg" alt="alternative">
        </div>
        <!-- end of image-container -->
      </div>
    </div>
  </div>
</div>
