
  <!-- Start Hero Carousel -->
  <section class="hero is-medium has-carousel">
    <div id="carousel-demo" class="hero-carousel">
      <div class="item-1">
        <!-- Slide Content -->
        <p>
          HHHH
        </p>
      </div>
      <div class="item-2">
        <!-- Slide Content -->
        <p>
          GGGg
        </p>
      </div>
      <div class="item-3">
        <!-- Slide Content -->
        <p>
          FFF
        </p>
      </div>
    </div>
    <div class="hero-head">AAAA</div>
    <div class="hero-body">BBBb</div>
    <div class="hero-foot">CCC</div>
  </section>
  <!-- End Hero Carousel -->
