<div class="row scroll-two-bg p-5">
    <div class="offset-md-1 col-md-10 mb-2 d-flex align-items-end">
      <h2>Productos - Precio Mayorista</h2>
    </div>
    <div class="offset-md-0 col-md-12">
      <carousel [loop]="true" [cellsToScroll]="1" [objectFit]="'cover'" [lightDOM]="true" class="carousel--slider-aligment" style="height: 400px;">

        <div class="carousel-cell">
          <div class="card card-border-none">
            <h5><span class="badge btn-custom-color">50% off</span></h5>
            <img class="card-img" src="../../../assets/img/pro1.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-tittle">Aceite Oliva Extra Virgen</h5>
              <p class="card-text"><b class="global-text-color mr-1">250.00 AR</b> <s>500.00 AR</s></p>
              <div class="d-flex justify-content-center">
                <a href="#" class="bnt btn-sm btn-light">Añadir al carrito<i class="fa fa-shopping-cart ml-1"></i></a>
              </div>
              <div class="d-flex justify-content-center">
                <a routerLink="product/details" class="btn btn-sm btn-custom-color ml-1 mt-1">Comprar <i class="fa fa-arrow-right ml-1"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="carousel-cell">
          <div class="card card-border-none">
            <h5><span class="badge btn-custom-color">50% off</span></h5>
            <img class="card-img-top img-fluid" src="../../../assets/img/pro1.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-tittle">Aceite Oliva Extra Virgen</h5>
              <p class="card-text"><b class="global-text-color mr-1">250.00 AR</b> <s>500.00 AR</s></p>
              <div class="d-flex justify-content-center">
                <a href="#" class="bnt btn-sm btn-light">Añadir al carrito<i class="fa fa-shopping-cart ml-1"></i></a>
              </div>
              <div class="d-flex justify-content-center">
                <a routerLink="product/details" class="btn btn-sm btn-custom-color ml-1 mt-1">Comprar <i class="fa fa-arrow-right ml-1"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="carousel-cell">
          <div class="card card-border-none">
            <h5><span class="badge btn-custom-color">50% off</span></h5>
            <img class="card-img-top img-fluid" src="../../../assets/img/pro1.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-tittle">Aceite Oliva Extra Virgen</h5>
              <p class="card-text"><b class="global-text-color mr-1">250.00 AR</b> <s>500.00 AR</s></p>
              <div class="d-flex justify-content-center">
                <a href="#" class="bnt btn-sm btn-light">Añadir al carrito<i class="fa fa-shopping-cart ml-1"></i></a>
              </div>
              <div class="d-flex justify-content-center">
                <a routerLink="product/details" class="btn btn-sm btn-custom-color ml-1 mt-1">Comprar <i class="fa fa-arrow-right ml-1"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="carousel-cell">
          <div class="card card-border-none">
            <h5><span class="badge btn-custom-color">50% off</span></h5>
            <img class="card-img-top img-fluid" src="../../../assets/img/pro1.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-tittle">Aceite Oliva Extra Virgen</h5>
              <p class="card-text"><b class="global-text-color mr-1">250.00 AR</b> <s>500.00 AR</s></p>
              <div class="d-flex justify-content-center">
                <a href="#" class="bnt btn-sm btn-light">Añadir al carrito<i class="fa fa-shopping-cart ml-1"></i></a>
              </div>
              <div class="d-flex justify-content-center">
                <a routerLink="product/details" class="btn btn-sm btn-custom-color ml-1 mt-1">Comprar <i class="fa fa-arrow-right ml-1"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="carousel-cell">
          <div class="card card-border-none">
            <h5><span class="badge btn-custom-color">50% off</span></h5>
            <img class="card-img-top img-fluid" src="../../../assets/img/pro1.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-tittle">Aceite Oliva Extra Virgen</h5>
              <p class="card-text"><b class="global-text-color mr-1">250.00 AR</b> <s>500.00 AR</s></p>
              <div class="d-flex justify-content-center">
                <a href="#" class="bnt btn-sm btn-light">Añadir al carrito<i class="fa fa-shopping-cart ml-1"></i></a>
              </div>
              <div class="d-flex justify-content-center">
                <a routerLink="product/details" class="btn btn-sm btn-custom-color ml-1 mt-1">Comprar <i class="fa fa-arrow-right ml-1"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="carousel-cell">
          <div class="card card-border-none">
            <h5><span class="badge btn-custom-color">50% off</span></h5>
            <img class="card-img-top img-fluid" src="../../../assets/img/pro1.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-tittle">Aceite Oliva Extra Virgen</h5>
              <p class="card-text"><b class="global-text-color mr-1">250.00 AR</b> <s>500.00 AR</s></p>
              <div class="d-flex justify-content-center">
                <a href="#" class="bnt btn-sm btn-light">Añadir al carrito<i class="fa fa-shopping-cart ml-1"></i></a>
              </div>
              <div class="d-flex justify-content-center">
                <a routerLink="product/details" class="btn btn-sm btn-custom-color ml-1 mt-1">Comprar <i class="fa fa-arrow-right ml-1"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="carousel-cell">
          <div class="card card-border-none">
            <h5><span class="badge btn-custom-color">50% off</span></h5>
            <img class="card-img-top img-fluid" src="../../../assets/img/pro1.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-tittle">Aceite Oliva Extra Virgen</h5>
              <p class="card-text"><b class="global-text-color mr-1">250.00 AR</b> <s>500.00 AR</s></p>
              <div class="d-flex justify-content-center">
                <a href="#" class="bnt btn-sm btn-light">Añadir al carrito<i class="fa fa-shopping-cart ml-1"></i></a>
              </div>
              <div class="d-flex justify-content-center">
                <a routerLink="product/details" class="btn btn-sm btn-custom-color ml-1 mt-1">Comprar <i class="fa fa-arrow-right ml-1"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="carousel-cell">
          <div class="card card-border-none">
            <h5><span class="badge btn-custom-color">50% off</span></h5>
            <img class="card-img-top img-fluid" src="../../../assets/img/pro1.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-tittle">Aceite Oliva Extra Virgen</h5>
              <p class="card-text"><b class="global-text-color mr-1">250.00 AR</b> <s>500.00 AR</s></p>
              <div class="d-flex justify-content-center">
                <a href="#" class="bnt btn-sm btn-light">Añadir al carrito<i class="fa fa-shopping-cart ml-1"></i></a>
              </div>
              <div class="d-flex justify-content-center">
                <a routerLink="product/details" class="btn btn-sm btn-custom-color ml-1 mt-1">Comprar <i class="fa fa-arrow-right ml-1"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="carousel-cell">
          <div class="card card-border-none">
            <h5><span class="badge btn-custom-color">50% off</span></h5>
            <img class="card-img-top img-fluid" src="../../../assets/img/pro1.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-tittle">Aceite Oliva Extra Virgen</h5>
              <p class="card-text"><b class="global-text-color mr-1">250.00 AR</b> <s>500.00 AR</s></p>
              <div class="d-flex justify-content-center">
                <a href="#" class="bnt btn-sm btn-light">Añadir al carrito<i class="fa fa-shopping-cart ml-1"></i></a>
              </div>
              <div class="d-flex justify-content-center">
                <a routerLink="product/details" class="btn btn-sm btn-custom-color ml-1 mt-1">Comprar <i class="fa fa-arrow-right ml-1"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-cell">
          <div class="card card-border-none">
            <h5><span class="badge btn-custom-color">50% off</span></h5>
            <img class="card-img-top img-fluid" src="../../../assets/img/pro1.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-tittle">Aceite Oliva Extra Virgen</h5>
              <p class="card-text"><b class="global-text-color mr-1">250.00 AR</b> <s>500.00 AR</s></p>
              <div class="d-flex justify-content-center">
                <a href="#" class="bnt btn-sm btn-light">Añadir al carrito<i class="fa fa-shopping-cart ml-1"></i></a>
              </div>
              <div class="d-flex justify-content-center">
                <a routerLink="product/details" class="btn btn-sm btn-custom-color ml-1 mt-1">Comprar <i class="fa fa-arrow-right ml-1"></i></a>
              </div>
            </div>
          </div>
        </div>
      </carousel>
    </div>
</div>
