<app-navbar></app-navbar>
<div class="container">
    <div class="container">
        <div class="d-flex justify-content-center row">
            <div class="col-md-6 col-md-offset-3 body-main">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4"> <img class="img" alt="Invoce Template"
                                src="http://pngimg.com/uploads/shopping_cart/shopping_cart_PNG59.png" /> </div>
                        <div class="col-md-8 text-right">
                            <h4 style="color: #de0200;"><strong>El Changuito Libre</strong></h4>
                            <p>221 ,Calle Libertad</p>
                            <p>1800-234-124</p>
                            <p>contacto@elchanguitolibre.ar</p>
                        </div>
                    </div> <br />
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h2>Ticket de compra</h2>
                            <h5>04854654101</h5>
                        </div>
                    </div> <br />
                    <div>
                        <table class="table">
                            <tbody>
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/QR_code_for_mobile_English_Wikipedia.svg/640px-QR_code_for_mobile_English_Wikipedia.svg.png"
                                    alt="">
                                <!-- <tr>
                                    <td class="text-right">
                                        <p> <strong>SUB-TOTAL: </strong> </p>
                                        <p> <strong>Descuentos: </strong> </p>
                                        <p> <strong>VALOR PAGADO: </strong> </p>
                                    </td>
                                   <td>
                                        <p> <strong><i class="fas fa-dollar-sign" area-hidden="true"></i> 82,900</strong> </p>
                                        <p> <strong><i class="fas fa-dollar-sign" area-hidden="true"></i> 3,000 </strong> </p>
                                        <p> <strong><i class="fas fa-dollar-sign" area-hidden="true"></i> 79,900</strong> </p>
                                    </td>
                                </tr>
                                <tr style="color: #F81D2D;">
                                    <td class="text-right">
                                        <h4><strong>TOTAL:</strong></h4>
                                    </td>
                                    <td class="text-left">
                                        <h4><strong><i class="fas fa-dollar-sign" area-hidden="true"></i> 79,900 </strong></h4>
                                    </td>
                                </tr> -->
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <div class="col-md-12">
                            <p><b>FECHA :</b> 22 abril 2022</p> <br />
                            <p><b></b></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>