<app-navbar></app-navbar>
<div class="container text-center p-5 mb-5">
  <h1>Reportar un problema</h1>
  <div class="field">
    <label class="label">Nombre de Usuario</label>
    <div class="control">
      <input class="input" type="text" disabled placeholder="Tu Nombre de Usuario">
    </div>
    <label class="label">Descripción del Reporte</label>
    <div class="control">
      <textarea class="textarea" placeholder="Introduce tu Descripción"></textarea>
    </div>
    <label class="label">Localidad</label>
    <div class="control">
      <input class="input" type="text" placeholder="Introduce tu Localidad">
    </div>
  </div>
  <div class="field">
    <label class="label">Nombre del Comerciante</label>
    <div class="control">
      <input class="input" type="text" placeholder="Introduce el Nombre del Comerciante a reportar">
    </div>
  </div>

  <div class="text-center">
    <div class="control">
      <button class="button is-success">Enviar</button>
    </div><br>
    <div class="control">
      <button class="button is-link is-danger">Cancelar</button>
    </div>
  </div>
</div>
<br/>
<br>
<app-footer></app-footer>
