<app-admin-nav></app-admin-nav>
<div class="container">
  <div class="columns">
    <div class="column is-2 ">
      <app-admin-side-bar></app-admin-side-bar>
    </div>
    <div class="column is-10">
      <section class="hero is-info welcome is-small">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">
              Hola, AdminName.
            </h1>
          </div>
        </div>
      </section>

      <h1 class="title is-1 has-text-centered	">Modificar Usuario</h1>
      <div class="field">

        <label class="label">Nombre</label>
        <div class="control">
          <input class="input" type="text" placeholder="Introduce el Nombre">
        </div>
        <label class="label">Apellido</label>
        <div class="control">
          <textarea class="textarea" placeholder="Introduce el apellido"></textarea>
        </div>
      </div>

      <div class="field">
        <label class="label">Imagen</label>
        <div class="control">
          <input class="imagen" type="file" placeholder="Introduce la Imagen">
        </div>
      </div>



      <div class="field is-grouped">
        <div class="control">
          <button class="button is-link">Guardar</button>
        </div>
        <div class="control">
          <button class="button is-link is-light">Cancelar</button>
        </div>
      </div>
      <br/>
    </div>
  </div>
</div>
<script async type="text/javascript" src="../../../assets/js/dashboard.js"></script>

