<app-merch-nav></app-merch-nav>
<div class="container">
  <div class="columns">
    <div class="column is-2 ">
      <app-merch-side-bar></app-merch-side-bar>
    </div>
    <div class="column is-10">
      <section class="hero is-info welcome is-small">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">
              Hola, MerchandiserName.
            </h1>
            <h2 class="subtitle">
              Éstas son tus Ordenes!
            </h2>
          </div>
        </div>
      </section>

      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Fecha</th>
            <th>ID Cliente</th>
            <th>Descripcion</th>
            <th>Localidad</th>
            <th>Solucionado?</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>5426</th>
            <td>28/04/22</td>
            <td>9834</td>
            <td>Hola, queria reportar que compré 20 pures de tomates y me cobraron precio
              minorista cuando decía que comprando mas de 15 te hacían
              precio mayorista. espero una solucion</td>
            <td>Quilmes</td>
            <td>No</td>
          </tr>
          <tr>
            <th>3446</th>
            <td>21/04/22</td>
            <td>2314</td>
            <td>Hola, compré 20 paquetes de yerba playadito, pero cuando
              fui al negocio a retirar me dijeron que solo les quedaba 10 y tenia que esperar 3 dias para
              ir a buscar las otras 10. me parece una verguenza la organizacion, ojala lo mejoren a futuro.
              no vendan cosas que no tienen
            </td>
            <td>Palermo</td>
            <td>Si</td>
          </tr>
          <tr>
            <th>1126</th>
            <td>5/04/22</td>
            <td>1516</td>
            <td>Hola, quería reportar un producto que anda mal, dice que comprando mas de 20 me
              hacen precio mayorista, pero cuando lo sumo al carrito de compras sigue diciendome que me
            va a cobrar el precio minorista, incluso simulé una compra y me seguia cobrando el precio minorista</td>
            <td>Munro</td>
            <td>Si</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
<script async type="text/javascript" src="../../../../assets/js/dashboard.js"></script>
<script type="text/javascript" src="../../../../assets/js/modal.js"></script>


